<sly data-sly-use.model="com.mywebsite.core.models.CollectDataModel">
        <sly data-sly-use.clientlibs="/libs/granite/sightly/templates/clientlib.html"
             data-sly-call="${clientlibs.all @categories='mywebsite.dataCollect'}"></sly>
        <input type="button" class="btn" value="ShowData" onclick="showStuff('answer1'); return false;">
        <div id="answer1" style="display: none;">
                <table>
                        <tr>
                                <th>Phone Number</th>
                                <th>DateOfBirth</th>
                                <th>Age</th>
                                <th>Name</th>
                        </tr>
                </table>
                <table>
                        <sly data-sly-list="${model.allChildren}">
                                <tr>
                                        <td>${item.phoneNo}</td>
                                        <td>${item.dob}</td>
                                        <td>${item.age}</td>
                                        <td>${item.Fullname}</td>
                                </tr>
                        </sly>


                </table>


        </div>
</sly>