<sly data-sly-use.model="com.mywebsite.core.models.CollectDataModel">
        <sly data-sly-use.clientlibs="/libs/granite/sightly/templates/clientlib.html"
             data-sly-call="${clientlibs.all @categories='mywebsite.form'}"></sly>
    <body class="container">
            <form method="post"   action="/bin/submitdata3">
                <label>Name:</label>
                <input type="text" id="name" name="Fullname"><br><br>
                <label>Phone Number:</label>
                <input type="text" id="phoneNo" name="phoneNo"><br><br>
                <label>Age:</label>
                <input type="text" id="age" name="age"><br><br>
                <label>DateOfBirth:</label>
                <input type="text" id="dob" name="dob"><br><br>
                <button class="btn" type="submit" name="button">Submit</button>
            </form>
    </body>

</sly>